@mixin button-drop-shadow {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

@mixin button-inset-shadow {
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.35);
}

.button,
.button.primary,
.button.tertiary {
    font-size: 18px;
    line-height: 46px;
    height: 46px;
    padding: 0 20px;
}

.button.md,
.button.primary.md,
.button.tertiary.md {
    font-size: 16px;
    line-height: 38px;
    height: 38px;
    padding: 0 15px;
}

.button.sm,
.button.primary.sm,
.button.tertiary.sm {
    font-size: $font-size-small;
    line-height: 30px;
    height: 30px;
    padding: 0 12px;
}

/*PRIMARY BUTTON*/
.button.primary {
    background-color: $orange !important;
    color: $white !important;

    &:visited {
        @extend .button.primary;
    }

    &:hover,
    &:focus {
        background-color: $orange14 !important;
        color: $white !important;
    }

    &:active,
    &.active {
        @include button-inset-shadow;
        background-color: $orange16 !important;
    }

    &:disabled,
    &.disabled {
        color: $black16 !important;
        background-color: $blackA10 !important;
        cursor: not-allowed;
    }
}

/*SECONDARY BUTTON*/
.button {
    @include button-drop-shadow;
    text-transform: capitalize;
    display: inline-block;
    color: $orange;
    background-color: $black10;
    text-decoration: none;
    border: none;
    border-radius: 0;
    font-weight: $font-weight-bold; /*Open Sans Semi-Bold 600*/
    text-align: center;
    outline: none;
    margin: 10px 10px;
    letter-spacing: 0;
    cursor: pointer;

    &:visited {
        @extend .button;
    }

    &:hover,
    &:focus {
        background-color: $white !important;
        color: $orange !important;
        text-decoration: none;
    }

    &:active,
    &.active {
        @include button-inset-shadow;
        background-color: $black12 !important;
        border: 0 solid $white;
    }

    &:disabled,
    &.disabled {
        color: $black15 !important;
        background-color: $black11 !important;
        cursor: not-allowed;
    }

    &.icon {
        min-width: 46px;
        min-height: 46px;
        padding: 0 !important;
        font-size: 28px;

        &.md {
            min-width: 38px;
            min-height: 38px;
            font-size: 20px;
        }

        &.sm {
            min-width: 30px;
            min-height: 30px;
            font-size: 16px;
        }

        &.disabled:active:not(.tertiary) {
            @include button-drop-shadow;
        }
    }
}

/*TERTIARY BUTTON*/
.button.tertiary {
    background-color: transparent;
    color: $orange;
    box-shadow: none;

    &:visited {
        @extend .button.tertiary;
    }

    &:hover,
    &:focus {
        background-color: rgba(0, 0, 0, 0.04) !important;
        color: $orange !important;
    }

    &:active,
    &.active {
        @include button-inset-shadow;
        background-color: rgba(0, 0, 0, 0.04) !important;
    }

    &:disabled,
    &.disabled {
        color: $black15 !important;
        background: rgba(0, 0, 0, 0.04) !important;
        box-shadow: none;
        cursor: not-allowed;
    }
}

/*BLOCK BUTTON*/
.button.block,
.button.primary.block,
.button.tertiary.block {
    width: 100%;
    display: block;
    margin: 10px 0;
}

/*BUTTON GROUP*/
.button-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .button {
        position: relative;
        float: left;
        border-radius: 0;
        box-shadow: none;
        border: 1px solid $black14;

         + .button {
            margin: 0 0 0 -1px;
        }

        &:first-child {
            margin: 0;
        }

        &:active,
        &.active,
        &:focus {
            color: $black17 !important;
            background-color: $black12 !important;
        }
    }
}

.button-group-vertical {
    @extend .button-group;

    .button-group {
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;

        .button {
            display: block;
            float: none;
            width: 100%;
            max-width: 100%;

             + .button,
             + .button-group {
                margin-top: -1px;
                margin-left: 0;
            }
        }

         + .button-group,
         + .button {
            margin-top: -1px;
            margin-left: 0;
        }
    }
}

.button-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;

    .button {
        display: table-cell;
        float: none;
        width: 1%;
        box-shadow: none;
        border-top: 1px solid $black14;
        border-bottom: 1px solid $black14;
        border-left: 1px solid $black14;
        border-radius: 0;
        margin: 0;

        &:first-child:not(:last-child) {
            border-left: none;
        }
    }
}
